*.o
*.lo
*.la
.deps
.libs
*~
*.Plo

TAGS
tags
configure
aclocal.m4
config.status
lpim.spec
*.swo

Makefile
Makefile.in

autom4te.cache
aclocal.m4 
ABOUT-NLS
m4
src0
config.h
config
config.log
libtool
stamp-h1
.*.swp
test-view

POTFILES
*.sed

config.guess
config.rpath
config.sub
depcomp
install-sh
lmp-im.spec
ltmain.sh
missing

lmpim-test
pinyin-table
symbol-table
wubi-table
lmpim-test-gtk2
pinyin-table-gtk2
symbol-table-gtk2
wubi-table-gtk2
